<% if flash[:event_creation_success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:event_creation_success] %>
  </div>
<% end %>

<% if flash[:sign_in_to_create] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:sign_in_to_create] %>
  </div>
<% end %>

<% if flash[:already_attending] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:already_attending] %>
  </div>
<% end %>

<% if flash[:unattending] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:unattending] %>
  </div>
<% end %>

  <br>
  <h1 class=text-center>Voici la liste des évènements de Montpellier !!!</h1>
  <br><br>
  <div class="d-flex flex-wrap">
      <% Event.all.each do |e| %>
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header"><%= e.location %></div>
            <div class="card-body">
                <h4 class="card-title text-center"><%= link_to "#{e.title}", event_path(e.id) %></h4>
                <p class="card-text">
                <br>
                  <li><u>Date et heure :</u><br><%= e.start_date.strftime("%d %B %Y, %H:%M") %></li>
                  <br>
                  <li><u>Durée :</u> <%= Time.at(e.duration * 60).utc.strftime("%H:%M:%S") %></li>
                  <br>
                  <li><u>Prix :</u> <%= e.price %> €</li>
                  <br><br>
                  <% unless e.users.include?(current_user) %>
                    <%= link_to 'Rejoindre cet évènement', attendances_path(my_event_id: e.id), method: :post %>
                  <% else %>
                    <% attendance_to_destroy_id = e.attendances.find_by(user: current_user).id %>
                      <%= link_to "Se désinscrire", attendance_path(attendance_to_destroy_id), method: :delete %>
                  <% end %>
                </p>
            </div>
        </div>
    <% end %>
  </div>
  <br><br>
