<% if flash[:event_creation_failure] %>
  <% if @e.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:event_creation_failure] %>
        <% @e.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %>
<% end %>


<%= form_tag url_for(action: 'create'), method: "post" do %>
  <fieldset>
    <legend class="text-center"><h1>Crée ton nouvel évènement !!!</h1></legend>
    <div class="form-group">
    <%= label_tag 'Titre' %>
    <div class="form-control"><%= text_field_tag 'title' %></div>
    </div>

    <div class="form-group">
    <%= label_tag 'Date et heure de début' %>
    <div class="form-control"><%= datetime_field_tag 'start_date' %></div>
    </div>

    <div class="form-group">
    <%= label_tag 'Durée en minutes (multiple de 5)' %>
    <div class="form-control"><%= number_field_tag 'duration' %></div>
    </div>

    <div class="form-group">
    <%= label_tag 'Lieu' %>
    <div class="form-control"><%= text_field_tag 'location'%></div>
    </div>

    <div class="form-group">
    <%= label_tag 'Prix (entre 1 et 1000 €)' %>
    <div class="form-control"><%= number_field_tag 'price' %></div>
    </div>

    <div class="form-group">
    <%= label_tag 'Description' %>
    <div class="form-control"><%= text_area_tag 'description' %></div>
    </div>
    <br /> 
 
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Créer l'évènement !</button>
    </div>
  </fieldset>
<% end %>
