<% if flash[:event_creation_failure] %>
  <% if @e.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:event_creation_failure] %>
        <% @e.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %>
<% end %>


<h1>Crée ton nouvel évènement !!!</h1>

<br /> <br />

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <div class="form-group">
  <%= label_tag 'Titre' %>
  <%= text_field_tag 'title' %>
  </div>
  <br /> <br />

  <div class="form-group">
  <%= label_tag 'Date et heure de début' %>
  <%= datetime_field_tag 'start_date' %>
  </div>
  <br /> <br />

  <div class="form-group">
  <%= label_tag 'Durée en minutes (multiple de 5)' %>
  <%= number_field_tag 'duration' %>
  </div>
  <br /> <br />

  <div class="form-group">
  <%= label_tag 'Lieu' %>
  <%= text_field_tag 'location'%>
  </div>
  <br /> <br />

  <div class="form-group">
  <%= label_tag 'Prix (entre 1 et 1000 €)' %>
  <%= number_field_tag 'price' %>
  </div>
  <br /> <br />

  <div class="form-group">
  <%= label_tag 'Description' %>
  </div>
  <%= text_area_tag 'description' %>
  <br /> <br />

  <div class="form-group">
  <%= submit_tag "Créer l'évènement !" %>
  </div>

<% end %>